.busker-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.busker-page-group {
  width: 864px;
  display: flex;
  flex-direction: row;
  justify-content:  flex-start;
  flex-wrap: wrap;
}

.busker-page-item {
  height: auto;
  width: 420px;
  box-sizing: border-box;
}

.busker-page-item:nth-child(odd) {
  margin-right: 24px;
}

.busker-page-item:nth-child(n + 1):nth-child(-n + 2) {
  margin-bottom: 24px;
}

.busker-page-item-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--blue-deep-2);
  letter-spacing: 0.15em;
  padding-bottom: 6px;
  margin-bottom: 24px;
  border-bottom: solid 1px var(--blue-light-2);
}

.busker-page-item-content {
  width: 100%;
}
.busker-page-schedule-title{
 width: 100%;
 font-size: 20px;
  font-weight: bold;
  color: var(--blue-deep-2);
  letter-spacing: 0.15em;
  padding-bottom: 6px;
  margin-bottom: 24px;
  border-bottom: solid 1px var(--blue-light-2);
}

.busker-page-schedule{
  margin-right: 24px;
  width: 420px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.busker-page-performanceDashboard{
  overflow: scroll;
  height: 370px;
  width: 420px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.busker-page-performanceDashboard-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px 0 12px;
  border-bottom: 1px solid var(--blue-light-2);
}

.busker-page-performanceDashboard-item-info{
  width: 320px;
  margin-right: 12px;

}
.busker-page-performanceDashboard-item-time{
  color: var(--orange);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
}
.busker-page-performanceDashboard-item-title,
.busker-page-performanceDashboard-item-location{
  color: var(--blue);
  font-size: 14px;
  padding-bottom: 6px;
}

.busker-page-performanceDashboard-item-btn{
  background: var(--orange);
  border-radius: 4px;
  color: var(--white);
  padding: 6px;
  width: 64px;  
  height: 32px;
  font-size: 14px;
  border: 0;
}
.busker-page-donate-title,.busker-page-donate-amount{
  display: flex;
  align-items: center;
}
.busker-page-donate-title{
  margin-bottom: 24px;
}
.busker-page-donate-title p{
  font-weight: 500;
  font-size: 18px;
  color: var(--blue);
  margin: 0 12px;
}
.busker-page-donate-amount{
  height: 70px;
  
}
.busker-page-donate-amount p{
  font-weight: bold;
  font-size: 36px;
  color: var(--blue);
  margin: 0 60px;
}


