.busker-apply {
  width: 100%;
  height: 700px;
}

.busker-apply-group {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

.busker-apply-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 48px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.busker-apply-item {
  width: 100%;
}

.busker-apply-select {
  display: block;
  width: 80px;
  font-size: 18px;
  color: var(--blue-deep-2);
  border: 0;
  padding-left: 0;
  margin-top: 6px;
  text-align: left;
  align-items: start;
}

.busker-apply-textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  font-size: 18px;
  resize: none;
  border: 0;
  outline: none;
  padding: 12px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.busker-apply-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
}

.busker-apply-result>.busker-input-btn {
  width: 50%;
}

.busker-apply-result-title {
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.busker-apply-btn {
  margin-top: 24px;
  text-align: end;
}