.busker-sidebar {
  width: 180px;
}

.busker-sidebar-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.busker-sidebar-name {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0;
  margin-bottom: 48px;
}

.busker-sidebar-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px 24px;
  margin-bottom: 12px;
  box-sizing: border-box;
  background-color: var(--white);
}

.busker-sidebar-item-active {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.busker-sidebar-item-icon {
  width: 28px;
  height: 28px;
  margin-right: 24px;
}

.busker-sidebar-item-name {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.15em;
  color: var(--blue-deep);
}
/**/
