.enroll {
  box-sizing: border-box;
  width: 508px;
  padding: 48px 60px;
  margin: 48px;
  background: var(--white);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.enroll-item {
  display: block;
  margin-bottom: 24px;
}

.enroll-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: var(--blue-light-2);
  margin: 0;
  margin-bottom: 24px;
}

.enroll-label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: var(--blue-light-2);
}

.enroll-input {
  border: 1px solid var(--blue-light-2);
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  width: 100%;
  font-size: 18px;
  color: var(--blue-deep-4);
  padding: 6px 0;
  outline: none;
  letter-spacing: 0.15em;
}

.enroll-input-radio {
  display: flex;
  margin: 12px 0;
}

.enroll-input-radio-gender {
  font-size: 18px;
  margin-right: 48px;
  color: var(--blue-deep-4);
}

.enroll-input-radio-gender>input {
  margin-right: 12px;
}

.enroll-btn-send {
  cursor: pointer;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: var(--white);
  margin-top: 24px;
  width: 100%;
  border-radius: 8px;
  border: 0;
  background-color: var(--blue);
  height: 40px;
}

.enroll-btn-send:hover {
  background-color: var(--blue-light-2);
}
.enroll-btn-send:active {
  background-color: var(--blue-deep-2);
}

/**/