.enroll {
  box-sizing: border-box;
  width: 460px;
  padding: 48px;
  margin-bottom: 40px;
  background: #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.enroll-item {
  display: block;
  padding: 12px 0;
}

.enroll-header {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #415a77;
  margin: 0;
  margin-bottom: 24px;
}

.enroll-label {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: var(--blue--deep-font);
  margin-bottom: 6px;
}

.enroll-input {
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  width: 100%;
  font-size: 18px;
  color: var(--blue-font);
  padding: 6px 0;
  outline: none;
  letter-spacing: 0.15em;
}

.enroll-input-radio {
  display: flex;
  margin: 12px 0;
}

.enroll-input-radio-gender {
  font-size: 18px;
  margin-right: 48px;
  color: var(--blue-font);
}

.enroll-input-radio-gender>input {
  margin-right: 12px;
}

.enroll-btn-send {
  cursor: pointer;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: var(--white);
  margin-top: 28px;
  width: 100%;
  border-radius: 8px;
  border: solid 1px var(--blue-deep);
  background-color: var(--blue);
}

.enroll-btn-send:active {
  background-color: var(--blue-deep);
}

/**/