.footer {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    color: var(--white);
    margin: 24px 0 6px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto';
    letter-spacing: .15em;
}

.footer-social-media {
    display: flex;
    align-items: center;
    height: 28px;
    margin: 6px 0;
}

.footer-social-media img {
    margin-right: 16px;
}

.footer-copyright {
    text-align: center;
    font-size: 12px;
    color: var(--white);
    margin-top: 6px;
    ;
}