.forgot-password-page{
    height: 700px;
}
.forgot-password-form{
    box-sizing: border-box;
    width: 508px;
    height: auto;
    padding: 48px 60px;
    margin: 48px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.forgot-password-form h1{
    color: var(--blue-light-2);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}
.forgot-password-form div{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--blue);
    margin-top:24px;
}
.forgot-password-form p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--blue-deep-4);
}

.forgot-password-form-label{
    padding-bottom: 6px;
}

.forgot-password-form-input{
    padding-top: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    color: var(--blue-deep-4);
    border: 0;
    border-bottom: 1px solid var(--blue-deep-2);
    outline: none;

}
.forgot-password-form-btn{
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
    border: 0;
    border-radius: 8px;
    background-color: var(--blue);
    margin-top: 24px;
}
.forgot-password-form-btn:hover, .forgot-password-dialog-close:hover{
    background-color: var(--blue-light-2);
}
.forgot-password-form-btn:active, .forgot-password-dialog-close:active{
    background-color: var(--blue-deep-2);
}

.forgot-password-form-bottom{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    
}
.forgot-password-form-bottom div{
    color: var(--blue);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-top: 12px;
}
.forgot-password-form-bottom div:hover{
    color: var(--blue-light-2);
}
.forgot-password-form-bottom div:active{
    color: var(--blue-deep-2);
}


.forgot-password-dialog{
    width: 508px;
    height: 238px;
    background: var(--white);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 48px 60px;
    box-sizing: border-box;
}
.forgot-password-dialog h1{
    font-weight: 600;
    font-size: 24px;
    color: var(--blue-light-2);
    margin: 0;
}
.forgot-password-dialog p{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: var(--blue-deep-4);
    height: 26px;
    margin: 24px 0;
}
.forgot-password-dialog-close{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--blue);
    cursor: pointer;
    width: 388px;
    color: var(--white);
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0;
}
