.forgot-password-page{
    height: 700px;
}
.forgot-password-form{
    box-sizing: border-box;
    width: 508px;
    height: 390px;
    padding: 48px 60px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.forgot-password-form h1{
    color: #416A7A;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
.forgot-password-form div{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #124559;
    margin-top:24px;
}
.forgot-password-form p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #0B2935;
}
.forgot-password-form-input{
    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    color: var(--blue-deep-font);
    border: 0;
    border-bottom: 1px solid var(--blue-font);
    outline: none;

}
.forgot-password-form-btn{
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    border: 0;
    border-radius: 8px;
    background-color: var(--blue);
    margin-top: 24px;
}
.forgot-password-form-bottom{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    
}
.forgot-password-form-bottom div{
    color: #124559;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.forgot-password-dialog{
    width: 508px;
    height: 238px;
    background: #fff;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 48px 60px;
}
.forgot-password-dialog h1{
    font-weight: 600;
    font-size: 24px;
    color: #416A7A;
}
.forgot-password-dialog p{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #0B2935;
}
.forgot-password-dialog-close{
    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #124559;
    cursor: pointer;
}