.home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.home-map {
    width: 508px;
    height: 784px;
    background-color: gray;
}

.home-show-list {
    display: flex;
    flex-direction: column;
    width: 508px;
}