.login {
    margin: 48px 0;
}

.login-form {
    box-sizing: border-box;
    width: 508px;
    padding: 48px 60px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.login-form-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--blue-light-2);
    letter-spacing: 0.15em;
    line-height: 33px;
}

.login-label {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    margin: 24px 0;
    color: var(--blue-light-2);
}

.login-input {
    margin-top: 6px;
    padding: 6px 0;
    font-size: 18px;
    color: var(--blue-deep-4);
    border: 0;
    border-bottom: 1px solid var(--blue-light-2);
    outline: none;
}

.login-admin {
    display: flex;
    justify-content: flex-end;
    margin: 24px 0;
}

.login-admin-a {
    color: var(--blue-light-2);
    text-decoration: none;
    font-size: 14px;
}
.login-admin-a:hover{
    font-weight: bold;
}
.login-admin-a:active{
    font-weight: bold;
    color: var(--blue-deep-2);
}

.login-btn-send {
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 10px 0;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    border: 0;
    border-radius: 8px;
    background-color: var(--blue);
}
.login-btn-send:hover{
    background-color: var(--blue-light-2);
}

.login-btn-send:active {
    background-color: var(--blue-deep-2);
}

.login-quick-title {
    position: relative;
    font-size: 14px;
    margin: 24px 0;
    background-color: var(--white);
    color: var(--blue-light-2);
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.login-quick-title::after {
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    content: '';
    height: .5px;
    width: 40%;
    background-color: var(--blue-light-2);
}

.login-quick-title::before {
    position: absolute;
    top: 8px;
    display: block;
    content: '';
    height: .5px;
    width: 40%;
    background-color: var(--blue-light-2);
}

.login-quick-group {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
.login-icon{
    cursor: pointer;
}

.login-create-account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 48px;
    margin-bottom: 140px;
    font-size: 14px;
    color: var(--blue-light-2);
}

.login-create-account-a {
    text-decoration: none;
}

.login-create-account-span {
    font-size: 14px;
    margin-left: 24px;
    font-weight: bold;
    color: var(--blue);
}