@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap");

* {
    font-family: sans-serif, "Noto Sans TC", "Roboto";
    font-size: 16px;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --blue-light-8: #D0DADE;
    --blue-light-6: #A0B5BD;
    --blue-light-4: #718F9B;
    --blue-light-2: #416A7A;
    --blue: #124559;
    --blue-deep-2: #0E3747;
    --blue-deep-4: #0B2935;
    --blue-deep-05: rgba(18, 69, 89, .05);
    --blue-font: #598392;
    --blue-deep-font: #1B263B;
    --orange-light-2: #F6B170;
    --orange: #F49E4C;
    --green: #AEC3B0;
}

::placeholder {
    color: var(--blue-light-6);
    opacity: 1;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-rows: 76px auto 180px;
    grid-template-columns: auto 1040px auto;
}

.nav-wrap {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* (<startLine> / <endLine>) */
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 2 / 3;
    /* (<startLine> / <endLine>) */
    grid-row: 2 / 3;
}

.footer-wrap {
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-row: 3 / 3;
    grid-column: 1 / 4;
    background-color: var(--blue);
    margin-top: 40px;
}