.show-list {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.show-list-header {
  display: flex;
  justify-content: space-between;
  height: 30px;
  border-bottom: 1px solid var(--blue);
}

.show-list-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0.15em;
}

.show-list-header select {
  border: 0;
  outline: none;
  font-size: 12px;
}

.show-list-main {
  width: 100%;
  /* background-color: pink; */
}

.show-list--timeline-title {
  font-size: 12px;
  color: var(--blue-font);
  margin: 12px 0;
  letter-spacing: 0.015em;
}

.show-list-member {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  width: 230px;
  height: 96px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.member-active {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.show-list-member-data {
  width: 100%;
}

.show-list-member-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.show-list-member-name-account {
  color: var(--blue--deep-font);
  font-size: 14px;
}

.show-list-member-likes {
  display: flex;
}

.show-list-member-hearts {
  width: 12px;
  height: 14px;
  margin-right: 5px;
}

.show-list-member-likes-count {
  font-size: 14px;
  line-height: 14px;
  /* letter-spacing: 0.015em; */
}

.show-list-member-photo {
  width: 70px;
  height: 64px;
  margin-right: 16px;
  object-fit: cover;
}

.show-list-member-description {
  font-size: 12px;
  color: var(--blue-font);
  margin-top: 6px;
}

.show-list-member-group {
  display: flex;
  flex-wrap: wrap;
}

.show-list-pagination {
  display: flex;
  justify-content: center;
}

.show-list-pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.show-list-pagination ul li {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.show-list-pagination-button {
  display: inline-block;
  align-content: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 100%;
  border: 0;
  background-color: var(--white);
  color: var(--blue-font);
}

.show-list-pagination-input {
  width: 30px;
  padding: 0 20px;
  margin: 0 12px;
  height: 100%;
  border: 1px solid var(--blue-deep);
  outline: 0;
}

.show-list-pagination-input:focus {
  border: 1px solid var(--orange);
}

.show-list-pagination-active {
  background-color: var(--blue-font);
  color: var(--white);
}